<div>
    <h2 style="color:rgb(38, 95, 124); text-align:center" class="mt-3">Chat de la comunidad</h2>
        {{> chatSesion}}
    <h3 id="compresionText" class="text-center"> Compresion: </h3>
        {{> chatHistorial}}
</div>
