<div class="jumbotron">
<!-- Formulario -->
    <h1 style="color:blue;">Ingrese datos</h1>
    <br>
    <form action="" id="formularioProd">
        <div class="form-group">
            <label for="producto"><b>Producto</b></label>
            <input id="producto" class="form-control" type="text" name="producto">
        </div>
        <div class="form-group">
            <label for="precio"><b>Precio</b></label>
            <input id="precio" class="form-control" type="number" name="precio">
        </div>
        <div class="form-group">
            <label for="img"><b>Imagen</b></label>
            <input id="img" class="form-control" type="text" name="img">
        </div>
        <button type="button" onclick="enviarProducto()" class="btn btn-success">Enviar</button>
    </form>
    <!-- Final Formulario -->
</div>
