<div>

    <h2 style="color:rgba(43, 152, 15, 0.778);" class="text-center"> Productos Random </h2>

    <div class="container mt-3 table-responsive">
        <table class="table table-dark" id="randomProducts">
            <tr>
                <th class="col-4"> Nombre </th>
                <th class="col-4"> Precio </th>
                <th class="col-4"> Imagen</th>
            </tr> 
            {{#each productos}}
            <tr>
                <td>{{name}} </td>
                <td>{{price}} </td>
                <td> <img width="30px" src={{img}} alt="Prod. img"> </td>
            </tr> 
            {{/each}}
        </table>
    </div>

</div>